.main {
  background-image: url('../assets/Rectangle\ 237.png');
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 100px;
}

.title_and_carousel {
  max-width: 80%;
  margin: 0 auto;
}

.main_title {
  text-align: center;
  font-size: 120px;
  color: white;
}

.additional__info {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.additional__heading_text {
  font-size: 28px;
  color: white;
  font-weight: 800;
}

.additional__heading_description {
  font-size: 18px;
  color: #656565;
  line-height: 25px;
  font-weight: 800;
  text-align: center;
  max-width: 700px;
  margin-top: 10px;
}

.additional__heading_small_text {
  color: white;
  font-weight: 800;
  font-size: 18px;
  margin-top: 10px;
}

.additional__heading_btn {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background: linear-gradient(90deg, #203F7D 0%, #1AABBE 100%);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.small__text {
  max-width: 425px;
  color: #656565;
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}

.float__btn_video {
  position: absolute;
  bottom: 50px;
  left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
  height: 80px;
  background: #00000026;
  border-radius: 50px;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.social__medias {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.social__medias img {
  cursor: pointer;
  margin-right: 10px;
}

/* Ask section */

.ask_section {
  margin-top: 30px;
  position: relative;
  width: 100%;
  height: auto;
}

.back_block {
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}

/* Form page section  */

.form_page {
  margin-top: 30px;
}

.form_d_f {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.form__title {
  text-align: center;
  font-size: 48px;
  color: #FFA900;
  font-weight: 600;
}

.back_block_ask {
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}

.form_and_video {
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.form__item {
  width: 50%;
  height: auto;
}

.form_page_img {
  width: 830px;
  height: 515px;
  object-fit: contain;
}

.arrow_down {
  margin-top: 150px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.billing_block {
  margin-top: 30px;
}

.billing_d_f {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.billing__title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.billing__title h3 {
  align-items: center;
  font-size: 32px;
  font-weight: 600;
  max-width: 940px;
  text-align: center;
  color: #656565;
}

.billings {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.billing {
  width: 300px;
  height: 450px;
  background: linear-gradient(90deg, #FFA900 0%, #FFDE68 100%);
  box-shadow: 0px 4px 24px 0px #00000033;
  border-radius: 20px;
  padding: 20px;
}

.billing_img {
  width: 100%;
  height: 150px;
  background-color: white;
  box-shadow: 0px 4px 24px 0px #00000033;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.billing_img img {
  width: 100px;
  height: 85px;
  object-fit: contain;
}

.requisite_info {
  margin-top: 30px;
  line-height: 30px;
  color: #323232;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.address_d_f {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.address_info {
  margin: 50px 0px 150px 0px;
}

.address_info_text {
  max-width: 900px;
  text-align: right;
  color: #323232;
  line-height: 30px;
  font-weight: 500;
}

.address_info_text span {
  color: black;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .main_title {
    font-size: 40px;
    margin-top: 30px;
    text-shadow: 0px 4px 4px #0000004D;
  }
  .additional__heading_text {
    font-size: 12px;
    text-align: center;
    text-shadow: 0px 4px 4px #0000004D;
  }
  .additional__heading_description {
    font-size: 12px;
    line-height: 12px;
    color: white;
    font-weight: 600;
    text-shadow: 0px 4px 4px #0000004D;
  }
  .additional__heading_small_text {
    font-size: 14px;
    text-shadow: 0px 4px 4px #0000004D;
  }
  .float__btn_video, .social__medias, .small__text {
    display: none;
  }
  .additional__heading_btn {
    font-weight: 600;
    margin-top: 50px;
  }
  .main {
    background-position: center;
  }
  .back_block_ask, .form_and_video__item {
    display: none;
  }
  .form__item {
    width: 100%;
  }
  .arrow_down {
    margin-top: 100px;
  }
  .billing__title h3 {
    font-size: 15px;
  }
  .billings {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }
  .address_info_img img, .address_info_text {
    display: none;
  }
  .address_info {
    margin: 30px 0px 30px 0px;
  }
}