.slider_container {
}

.carousel__item {
    width: 100% !important;
    height: 225px;
}

.carousel__item_img {
    width: 100%;
    height: 225px;
    object-fit: cover;
}

.carousel__block {
    display: flex !important;
}