.questions {
    margin-top: 30px;
    position: relative;
}

.questions_and_answers {
    position: relative;
    margin-bottom: 150px;
}

.question__title {
    text-align: center;
    color: #FFA900;
    font-weight: 600;
}

.question__typography {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question__description {
    color: #656565;
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    max-width: 750px;
    text-align: center;
    margin-top: 15px;
}

.questions__item_asnwers {
    margin: 50px 0px;
}

.answers__for__questions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.answers__item {
    width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.three_dots__block {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.ellipse {
    width: 15px;
    height: 20px;
}

.answer__block {
    max-width: 430px;
    height: auto;
    display: flex;
    column-gap: 10px;
}

.arrow_down__block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.img_absolute {
    position: absolute;
    bottom: -35%;
}

.img_absolute_cow {
    position: absolute;
    bottom: -35%;
    right: 0;
}

.img_absolute img {
    width: 350px;
    height: 350px;
    object-fit: contain;
}

.img_absolute_cow img {
    width: 350px;
    height: 350px;
    object-fit: contain;
}

.social_media_block {
    display: flex;
    column-gap: 50px;
    align-items: center;
    position: absolute;
    bottom: 1%;
}

.social_media {
    display: flex;
    column-gap: 20px;
}

.questions__with_img {
    display: flex;
    justify-content: space-between;
}

.questions_with_img_dec {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.img_with_answer img {
    width: 720px;
    height: 675px;
    object-fit: contain;
}

.questions_typography {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.questions_typography h2 {
    color: #FFA900;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    max-width: 550px;
}

.answers_with_numbers {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 50px;
}

.numbers {
    list-style-type: decimal;
    padding-left: 10px;
}

.questions__with_img__item {
    width: 50%;
}

.key_answer {
    color: #FFA900;
    font-weight: 500;
}