@font-face {
    font-family: 'Europe Bold';
    src: url('../../../app/assets/font/europeext_bold.otf') format('opentype');
}

.europeFont {
    font-family: 'Europe Bold', sans-serif;
}

.gallery_container {
    max-width: 95%;
    margin: 0 auto;
}

.gallery_block {
    margin-top: 300px;
}

.gallery__item h3 {
    font-size: 150px;
    font-weight: 700;
    background: linear-gradient(89.98deg, #FFFFFF -15%, #779DB0 131.82%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.gallery_img_block {
    margin: 10px;
    width: 400px !important;
    height: 400px;
}

.gallery_img_block img {
    object-fit: cover;
    width: 400px;
    height: 400px;
    margin-right: 20px;
}

.gallery_slider {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .gallery_block {
        margin-top: 100px;
    }
    .gallery__item h3 {
        font-size: 30px;
        text-align: center !important;
    }
    .next, .prev {
        display: none !important;
    }
    .gallery_container {
        max-width: 100%;
        margin: 0;
    }
    .gallery_img_block {
        width: 100% !important;
        height: auto;
        border-radius: 5px;
        margin: 0;
    }
    .gallery_img_block img {
        width: 70vw !important;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
        margin: 0;
    }
}